.headerHome {
  min-height: calc(80vh - 72px);
}

.registerButton {
	padding: 10px 40px !important;
	border-radius: 30px !important;
	font-weight: 600 !important;
	background: #47b2e4 !important;
	border: none !important;
  color: white;
}

.registerButton:hover {
	background: #209dd8 !important;
}

.sectionTitle {
  text-align: center;
  padding-bottom: 30px;
}

.sectionTitle h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #37517e;
}

.sectionTitle h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.sectionTitle h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

.sectionTitle p {
  margin-bottom: 0;
}

.course {
	padding: 50px 0;
	background: #f3f5fa;
	font-size: 15px;
	color: #444444;
}

/* courses */
/* .backgroundCourse {
	background: #f3f5fa56;
} */

.fontPoppins {
  font-family: 'Poppins';
}

.featuredImage {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  object-position: center;
}

.featuredImageHome {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: center;
}

.cardHeader {
  background: #f0f0f0 !important;
}

/* partners */

.Image {
  max-width: 150px;
  max-height: 150px;
  object-fit: cover;
  object-position: center;
}

/* detail */
.backgroundDetail {
  background-color: #f2f4f850;
}

.detailRoot {
  font-family: 'Quicksand', sans-serif;
	padding: 60px 0;
  min-height: 80vh;
}

.textJustify {
	text-align: justify;
}

.detailImage {
  max-width: 300px;
  min-width: 300px !important;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.btnDetail {
  border-radius: 0px !important;
}

.cardStyle {
  border: 0 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
}

select {
  box-shadow: none !important;
  border: 1px solid #dcdcdc !important;
  color: #353535;
}

select:focus {
  box-shadow: none !important;
  border: 1px solid #dcdcdc !important;
  color: #353535;
}

.QuickSand {
  font-family: 'Quicksand', sans-serif;
}

.thead th {
  padding: 15px 30px 15px 15px !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.tbody td {
  padding: 15px !important;
  font-size: 14px !important;
  /* text-transform: capitalize !important; */
  text-align: center !important;
  vertical-align: middle !important;
}

.badgeDanger {
  width: 100% !important;
  border: 1px solid #fe7c96;
  /* background: #f84f71 !important; */
  color: #f84f71 !important;
  padding: 15px !important;
  font-size: 13px !important;
  cursor: pointer !important;
}

.badgeDanger:hover {
  border: 1px solid #fe7c96;
  background: #f84f71 !important;
  color: #fff !important;
  font-size: 13px !important;
  cursor: pointer !important;
}

.pagination a {
  padding-left: 25px !important;
  padding-right:  25px !important;
}