@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Quicksand&family=Source+Sans+Pro&display=swap');

.QuickSand {
  font-family: 'Quicksand', sans-serif;
}

.sectionRoot {
  padding:  20px 50px 0 !important;
  background-color: #ffffff;
  border-radius: 8px;
  font-family: 'ubuntu-regular', sans-serif;
  max-width: 80% !important;
  /* box-shadow: rgba(207, 218, 228, 0.658) 0px 0px 24px !important; */
}

.blankBtnRegist {
  background-color: #4d70e2 ;
  border: 0 !important;
  font-size: 14px !important;
  padding: 8px 30px !important;
}

.featuredImage {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  object-position: center;
}

.badgePending {
  padding: 8px 15px !important;
  font-size: 13px !important;
}

.badgeWarning {
  padding: 8px 15px !important;
  font-size: 13px !important;
}

.badgeSuccess {
  border: 1px solid #1BCFB4 !important;
	/* border: none !important; */
	background: #17b49d !important;
  padding: 7px 10px !important;
  font-size: 13px !important;
}

.badgeDanger {
  border: 1px solid #fe7c96;
  /* background: #f84f71 !important; */
  color: #f84f71 !important;
  padding: 7px 10px !important;
  font-size: 13px !important;
  cursor: pointer !important;
}

.badgeDanger:hover {
  border: 1px solid #fe7c96;
  background: #f84f71 !important;
  color: #fff !important;
  padding: 7px 10px !important;
  font-size: 13px !important;
  cursor: pointer !important;
}

.badgePay {
  /* border: 1px solid #47b2e4 !important; */
	/* border: none !important; */
	color: #fff !important;
  padding: 7px 30px !important;
  font-size: 13px !important;
  cursor: pointer !important;
}

.badgePay:hover {
  border: 1px solid #47b2e4 !important;
  background: #209dd8 !important;
	color: #fff !important;
  font-size: 13px !important;
}